*{
/*outline: 4px solid rgb(16, 175, 27); */
  padding: 0;
  margin: 0; 
  box-sizing: border-box; 
}
body{
  
  font-family: Tahoma, sans-serif;
  font-size: 400;
  background-color: #ED5802; 
}

header{ 
 background-image: url(Imagenes/El_Obelisco_junto_al_crepúsculo..jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: 100%;
 height: 200px;
}

.rrss{
  width: 200px;
  display: flex;
  justify-items: center;
  justify-self: end;  
  justify-content: space-between; 
  margin-top: 10px;
  margin-right: 20px;
   
}

.rrss_ico{
height: 20px;
}

.inicio{
  margin-top: 10px;
  margin-left: 20px;
}


.navegador{
  background-color: #E01709;
  width: 100%;
  height: 50px;  
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.titulo{  
  width: 100%;  
  color: blue;
  
    }
 h1{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  letter-spacing: 30px;
 
 }
 .description{
  height: 500px;
  margin: 20px ;
  padding: 5px;
 }

 .turismo{
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
 }
 .turismo-card_gast{
  background-image: url(imagenes/Tostadacaroreña.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;  
 }
 .turismo-card_adventure{
  background-image: url(imagenes/cascada\ del\ vino.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;  
 }
 .turismo-card_religious{
  background-image: url(imagenes/Divina pastora.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
 }
 .turismo-card_recreative{
  background-image: url(imagenes/el\ mundo\ de\ los\ niños.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
 }
 .turismo-card_cultural{
  background-image: url(imagenes/Los\ zaragozas.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
 }


 
.pieDePagina{
  height: 100px;
  background-color: #E01709;
  
}
